/* SHARE */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}


a{
    text-decoration: none;
}






/* SIDEBAR */

.sidebar{
    width: 232px;
    position: fixed;
    height: 100%;
    background: black;
    border: solid black 1px;
    overflow: auto;
    padding: 0 24px 0;
    z-index: 1;
}

.logo img{
    max-width: 130px;
    padding: 20px 0px 15px 0px;
    background: transparent;

}


.menulinks  a{
    display: block;
    color: #b3b3b3;
    font-size: 14px;
    padding: 10px 8px 8px 0;
    font-weight: bold;


}

.menulinks i{
    padding-right: 15px;
    background: transparent;
    color: #b3b3b3;
    font-size: 25px;

}

.undermenulinks {
    margin: 20px 0 10px;   
}

.undermenulinks a{
    display: flex;
    padding-top: 10px;
    color: #b3b3b3;
    vertical-align: middle;
    font-size: 14px;
   
}

.undermenulinks img{
    max-width: 25px; 
    margin-right: 15px;
}

hr{
    border: rgb(63, 63, 63) 0.5px solid;
}

.playlists { 
    margin-top: 5px;
    position: relative;
}

.playlists a{
    display: block;
    color: #b3b3b3;
    padding-top: 16px;
    font-size: 14px;
}

a:hover{
    color: white
}



.playlists a:first-child{
    font-weight: bold;
    color: #c0c0c0;
}

.playlists a i{
    position: absolute;
    right: 0;
    top: 1;
    color: grey;
}


/* MAIN */

main{
    margin-left: 230px;
}





/* MUSIC PLAYER */


.musicplayer{
    width: 100%;
    height: 90px;
    background: #181818;
    border: red solid 1 px;
    position: fixed;
    bottom: 0;
    z-index: 2;
    border-top: inset black 1px;
    display: flex;

}

.songplayed img{
    max-width: 60px ;
    margin: 15px 15px;
    border-radius: 5%;
    background: black;
    border: solid rgba(0, 0, 0, 0.233) 1px;
}

/* DA FARE HOVER SOPRA IMG */

.songartist{
    width: 10%;
}


.songartist .songname {
    margin-top: 25px;
    font-size:14px ;
}

.songartist .artistname {
    margin: 2px 0px;
    font-size: 11px;

}

.songartist .songname a {
    color: white;
}

.songartist .artistname a {
    color: #b3b3b3;
}


.ctaplayer{
    width: 10%;
}

.controlplayer{
    width: 80%;
}